<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div>
    <div [hidden]="showMes"><img src="https://www.edplace.com/userfiles/image/lightbulb.jpg" alt=""></div>
    <div [hidden]="!showMes"><img src="http://i.dailymail.co.uk/i/pix/2014/01/26/article-2546363-1AFB247500000578-934_306x423.jpg"></div>
    <button (click)="falsey()" class="btn-success" *ngIf="showMes">On</button>
  </div>
  <div>
    <button (click)="truthy()" class="btn-danger" *ngIf="!showMes">Off</button>
  </div>

  <div>{{somePrice | currency: 'USD':true}}</div>
  <input type="text" [(ngModel)]="filterPhrase">
  <ul class="listy">
    <li *ngFor="let thing of listOfThings | filterything: filterPhrase">{{thing}}</li>
  </ul>
</div>
